#centralWidget{
	background:#F8F8F8;
}

#titlewidget{
	border-color:black;
	background: white;
}

#titlewidget QPushButton {
    width:  16px;
    height: 16px;
    min-width:  16px;
    max-width:  16px;
    min-height: 16px;
    max-height: 16px;
    border-width: 0;
}

#titlewidget #closebtn {
    border-image: url(:/ico/titlebutton-close.png);
}
#titlewidget #closebtn:hover {
    border-image: url(:/ico/titlebutton-close-active.png);
}
#titlewidget #closebtn:pressed {
    border-image: url(:/ico/titlebutton-close-alt.png);
}

#titlewidget #hidebtn {
    border-image: url(:/ico/titlebutton-minimize.png);
}
#titlewidget #hidebtn:hover {
    border-image: url(:/ico/titlebutton-minimize-active.png);
}
#titlewidget #hidebtn:pressed {
    border-image: url(:/ico/titlebutton-minimize-alt.png);
}

#titlewidget #minbtn {
    border-image: url(:/ico/titlebutton-restore.png);
}
#titlewidget #minbtn:hover {
    border-image: url(:/ico/titlebutton-restore-active.png);
}
#titlewidget #minbtn:pressed {
    border-image: url(:/ico/titlebutton-restore-alt.png);
}

#titlewidget #maxbtn {
    border-image: url(:/ico/titlebutton-maximize.png);
}
#titlewidget #maxbtn:hover {
    border-image: url(:/ico/titlebutton-maximize-active.png);
}
#titlewidget #maxbtn:pressed {
    border-image: url(:/ico/titlebutton-maximize-alt.png);
}

QStackedWidget{
	background-color:#eeeeee;
	padding:0;
}

QListWidget#listWidget{
		color:white;
		padding:0;
        background-color:#818181;
}

#TcpWidget QPushButton{
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
	min-height: 25px;
}

#TcpWidget QPushButton:hover{
	background-color: #00aaff;
}

#SerialWidget QPushButton{
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
	min-height: 25px;
}

#SerialWidget QPushButton:hover{
	background-color: #00aaff;
}

/******************************************************************************
 *                                   QCheckBox&QRadioButton
 *****************************************************************************/
 
QCheckBox::indicator, QRadioButton::indicator {
    subcontrol-origin: border;
    subcontrol-position: left center;

    width: 24px;
    height: 24px;
    border-width: 0 0 0 0;
}

QCheckBox::indicator {
    border-image: url(:/ico/checkbox-unchecked.png);
}

QCheckBox::indicator:checked {
    border-image: url(:/ico/checkbox-checked-insensitive.png);
}

QRadioButton::indicator {
    border-image: url(:/ico/radio-unchecked.png);
}

QRadioButton::indicator:checked {
    border-image: url(:/ico/radio-checked-insensitive.png);
}

/******************************************************************************
 *                                   QComboBox
 *****************************************************************************/
QComboBox {
    height: 24px;
    min-width: 90px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-color: #fff;
    padding: 0 4px;
}

QComboBox:focus {
    border-color: #57a3f3;
}

QComboBox::drop-down {
    width: 12px;
    height: 12px;
	margin-right: 2px;
    margin-top: 2px;
    subcontrol-origin: border;
    subcontrol-position: right center;
    border-width: 0 0 0 0;
    border-image: url(:/ico/combobox-arrow.png);
}

QComboBox::drop-down:hover {
    border-image: url(:/ico/combobox-arrow@2.png);
}

QComboBox QAbstractItemView {
    margin-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #FFF;
    border-radius: 4px;
    background-color: white;
}

/******************************************************************************
 *                  QSpinBox, QDateEdit, QTimeEdit, QDateTimeEdit
 *****************************************************************************/
QAbstractSpinBox {
    height: 24px;
    min-width: 60px;
    font-size: 12px;
    border: 1px solid #dddee1;
    border-radius: 4px;
    color: #495060;
    background-color: #fff;
    padding: 0 1px;
}

QAbstractSpinBox:focus {
    border-color: #57a3f3;
}

QAbstractSpinBox::down-button, QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    width: 16px;
    height: 16px;
    border-width: 0 0 0 0;
}
QAbstractSpinBox::down-button {
    subcontrol-position: center left;
    margin-left: 5px;
    border-image: url(:/ico/minus.png);
}
QAbstractSpinBox::up-button {
    subcontrol-position: center right;
    margin-right: 5px;
    border-image: url(:/ico/plus.png);
}

/******************************************************************************
 *                                   QScrollBar
 *****************************************************************************/
QScrollBar:vertical {
    width: 6px;
    background: #e9eaec;
    padding-bottom: 0px;
}

QScrollBar:horizontal {
    height: 6px;
    background: #e9eaec;
	padding-left: 0px;
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
    background: #AAA;
}

QScrollBar::handle:vertical {
    min-height: 50px;
}

QScrollBar::handle:horizontal {
    min-width: 50px;
}

QScrollBar::handle:vertical:hover,
QScrollBar::handle:horizontal:hover {
    background: #888;
}

QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical,
QScrollBar::sub-line:horizontal, QScrollBar::add-line:horizontal {
    width: 0;
    height: 0;
}

